/src/vendor
/src/node_modules
/src/.env
/src/storage/*.key
/src/cookies.txt
docker/mysql/data
docker/certbot/conf
docker/certbot/www
/.env

infra/terraform/.terraform
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars
infra/terraform/tfplan
